.menu {
    list-style: none;
}

.menu li {
    float: left;
    margin: 15px;
    position: relative;
}

.menu li a {
    text-decoration: none;
    font-family: sans-serif;
    color: #0b373c;
    display: block;
}

.menu li a:hover {
    color: #1f7abc;
}

.menu .dropdown {
    position: absolute;
    left: 100%;
    width: 150px;
    background-color: #ddd;
    display: none;
}

.menu li:hover .dropdown {
    display: block;
}